section {
    padding: 1rem;
}

form, .card, .filter, .container {
    max-width: 600px;
}

p {
    line-height: .8;
}

hr {
    margin: 0;
    margin-bottom: 11px;
}

.edit-fish-img {
    border-radius: 8px 8px 0px 0px;
}

.edit-fish-input {
    border-radius: 0px 0px 8px 8px;
}